In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt
from sklearn import svm

In [2]:
data=pd.read_csv('Customer_Data.csv')

In [3]:
data.head()

   Unnamed: 0  Gender   Age  Annual Income  Total Spending Interests
0           0       0  22.0           16.0          512.50   Cooking
1           1       0  34.0           12.0          358.75  Exercise
2           2       0  64.0           13.0          153.75    Travel
3           3       0  70.0           13.0          717.50    Crafts
4           4       1  58.0           22.0          820.00    Travel

In [4]:
data=data.iloc[:,1:6]
data.head()

   Gender   Age  Annual Income  Total Spending Interests
0       0  22.0           16.0          512.50   Cooking
1       0  34.0           12.0          358.75  Exercise
2       0  64.0           13.0          153.75    Travel
3       0  70.0           13.0          717.50    Crafts
4       1  58.0           22.0          820.00    Travel

In [5]:
data=data.dropna(axis=0,how='any')

In [7]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set

X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,0:4], data.iloc[:,4], test_size=0.2,random_state=109) # 80% training and 20% test

In [8]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

In [9]:
#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [10]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.14106583072100312

In [ ]:
# change 18 catagories to 3

In [19]:
data['Interests'].unique()

array(['Cooking', 'Sports', 'Travel', 'Crafts', 'Reading',
       'Strategic games', 'Photography', 'Hiking', 'Gaming', 'Camping',
       'Entertainment', 'Music', 'Automobiles', 'Yoga', 'Art',
       'Technology', 'Pets', 'Gardening'], dtype=object)

In [21]:
data['Interests']= np.where((data['Interests']== 'Exercise'),'Sports', data['Interests'])

In [22]:
data['Interests']= np.where((data['Interests']== 'Yoga'),'Sports', data['Interests'])

In [23]:
data['Interests']= np.where((data['Interests']== 'Travel'),'Sports', data['Interests'])

In [24]:
data['Interests']= np.where((data['Interests']== 'Camping'),'Sports', data['Interests'])

In [25]:
data['Interests']= np.where((data['Interests']==  'Hiking'),'Sports', data['Interests'])

In [26]:
data['Interests']= np.where((data['Interests']== 'Music'),'Art', data['Interests'])

In [27]:
data['Interests']= np.where((data['Interests']== 'Crafts'),'Art', data['Interests'])

In [28]:
data['Interests']= np.where((data['Interests']== 'Gardening'),'Art', data['Interests'])

In [29]:
data['Interests']= np.where((data['Interests']=='Reading'),'Art', data['Interests'])

In [30]:
data['Interests']= np.where((data['Interests']== 'Cooking'),'Art', data['Interests'])

In [31]:
data['Interests']= np.where((data['Interests']== 'Strategic games'),'Others', data['Interests'])

In [32]:
data['Interests']= np.where((data['Interests']== 'Photography'),'Others', data['Interests'])

In [33]:
data['Interests']= np.where((data['Interests']== 'Gaming'),'Others', data['Interests'])

In [34]:
data['Interests']= np.where((data['Interests']== 'Entertainment'),'Others', data['Interests'])

In [35]:
data['Interests']= np.where((data['Interests']== 'Automobiles'),'Others', data['Interests'])

In [36]:
data['Interests']= np.where((data['Interests']== 'Technology'),'Others', data['Interests'])

In [37]:
data['Interests']= np.where((data['Interests']== 'Pets'),'Others', data['Interests'])

In [38]:
data.head()

   Gender   Age  Annual Income  Total Spending Interests
0       0  22.0           16.0          512.50       Art
1       0  34.0           12.0          358.75    Sports
2       0  64.0           13.0          153.75    Sports
3       0  70.0           13.0          717.50       Art
4       1  58.0           22.0          820.00    Sports

In [39]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set

X_train, X_test, y_train, y_test = train_test_split(data.iloc[:,0:4], data.iloc[:,4], test_size=0.2,random_state=109) # 80% training and 20% test

In [40]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

In [41]:
#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [42]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.3510971786833856